// тут вкручиваем шрифты, нормализуем css


@font-face
  font-family 'DIN Pro'
  font-style normal
  font-weight normal
  src local('DIN Pro'), url('./font/DINPro.woff') format('woff')

body
  margin 0
  font-family 'DIN Pro'
  
input
textarea
  font-family 'DIN Pro'
  outline none
a
button
  font-family 'DIN Pro'
