// тут глобальные переменные – цветовые схемы и тд и тп

@import 'grid.styl'

.main
  center(600px)
  grid()
  .cell
    // отступы в 20px
    padding rem-calc(20)

    // половина когда большой экран
    &.type1
      cell(1, 1)
      @media screen and (min-width: rem-calc(breakpoints[md]))
          cell(1, 2)
      @media screen and (min-width: rem-calc(breakpoints[lg]))
          cell(1, 3)

    // на весь экран
    &.type2
      cell(1, 1, 'center')
      @media screen and (min-width: rem-calc(breakpoints[lg]))
          cell(1, 3, 'center')
